<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
 <input type="text" placeholder="enter ip" [ngModelOptions]="{standalone: true}" [(ngModel)]="user_ip" />
 <button (click)="get_location(user_ip)" >Get Ip Details </button>

 <div>
   <h3> Ip Details For - {{user_ip}} </h3>
   <p>ISP - {{iploc.as}}</p>
   <p>ADDRESS - {{iploc.city}}, {{iploc.country}}</p>
   <p>LOCATION - {{iploc.lat}}, {{iploc.lon}}</p>
   <p><b>wheather</b></p>
   <p>temperature: {{weather.temperature}} C</p>
   <p>humidity: {{weather.humidity}} %</p>
   <p>precipType: should be {{weather.precipType}} </p>
   <p>summary: {{weather.summary}} </p>

 </div>

</div>


<router-outlet></router-outlet>


<!-- new Date(1490702780); -->